:root{
    --cor-primaria: #b32f08;
    --cor-primaria-hover: #8f2506;
    --cor-secundaria: #4a6a63;
    --cor-de-fundo: #a2a192;
    --fundo-escuro: #262d29;
    --texto-principal: #34332c;
    --texto-claro: #f8f8f8;
}
