.container{
    display: flex;
    height: 100vh;
}

.conteudo-esquerda{
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100vh;

    align-items: center;
}

.conteudo-direita{
    display: flex;
    flex: 2;
}


#login-form{
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
}

#login-form div{
    display: flex;
    flex-direction: column;
}

.logo-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

    margin-bottom: 80px;
    margin-top: 80px;
}

.conteudo-direita{
    background-image: url("../assets/background.jpg");
    background-size: cover;
    background-position: center;
}

