@import url(global.css);

/* body - ESTRUTURA GERAL */
body{
    font-family: "Poppins", sans-serif;
    background-color: #262d29;
    min-height: 100vh;
}
/* HEADER (LOGO E H1) */

header div{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 2rem;

}

h1{
    color: var(--texto-claro);
    font-size: 3rem;
}
header div img{
    width: 200px;
}


/*FORMULÁRIO CADASTRO */
.form-container{
    display: flex;
    flex-direction: column;

    width: 90%;
    max-width: 400px;
    padding: 2rem;

    background-color: var(--cor-de-fundo);

    gap: 1rem;

    border-radius: 12px;

    margin: 0 auto;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.input-box{
    display: flex;
    flex-direction: column;
}

label{
    margin-bottom: 0.4rem;
    font-weight: 500;
    font-size: 1rem;
    color: var(--texto-principal);
}

input{
    padding: 0.8rem 1rem;
    width: 100%;

    border-radius: 12px;
    border: none;
}

button{
    padding: 0.8rem 1rem;
    width: 100%;

    border: none;
    border-radius: 12px;

    background-color: var(--cor-primaria);
    color: #fff;

    font-size: 1rem;
    font-weight: 700;

    transition:  background 0.4s ease;
}

button:hover{
    background-color: var(--cor-primaria-hover);
    cursor: pointer;
}

a{
    text-decoration: none;
    color: var(--cor-primaria);
}

/*
footer
*/

footer{
    margin-top: auto;
    color: var(--texto-claro);

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 1.5rem 1rem;
    font-size: 0.9rem;
}

