@import url(reset.css);
@import url(layout.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --cor-primaria: #b32f08;
    --cor-primaria-hover: #8f2506;
    --cor-secundaria: #4a6a63;
    --cor-de-fundo: #a2a192;
    --fundo-escuro: #262d29;
    --texto-principal: #34332c;
    --texto-claro: #f8f8f8;
}

body{
    font-family: "Poppins", sans-serif;
    height: 100vh;

    background-color: var(--fundo-escuro);
}


h1{
    color: var(--texto-claro);
    font-size: 3rem;
}

#login-form{
    color: var(--texto-claro);
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#login-form div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#login-form div input{
    border: none;
    height: 30px;
    padding: 10px;
}

.checkbox-container{
    display: flex;
    flex-direction: row;
}

button{
    height: 50px;
    border: none;
    padding: 10px;
    background-color: var(--cor-primaria);
    color: var(--texto-claro);
    font-weight: 600;
    font-size: 1rem;
}
button:hover{
    background-color: var(--cor-primaria-hover);
    cursor: pointer;
}

a{
    text-decoration: none;
    color: var(--cor-primaria);
}
footer{
    color: var(--texto-claro);
}